*.iml
target
.props
.build
*mini*.js
installer/svn.properties
schematron-rules-*.xml
.project
.classpath
.settings
.externalToolBuilders
*/.project
*/.classpath
*/.settings
*/.externalToolBuilders
